
.wall
{
    background-color: rgb(5, 37, 119);
    position: absolute;
    width:$CELL_DIMENSION;
    height: $CELL_DIMENSION;
    border-radius: 3px;
}

.pellet
{
    background-image: radial-gradient(white,black 30%);
    position: absolute;
    width:$CELL_DIMENSION;
    height: $CELL_DIMENSION;

    &-bonus
    {
        background-image: radial-gradient(white,black 45%);
    }
}