.ghost
{
    position: absolute;
    width:$CELL_DIMENSION;
    height:$CELL_DIMENSION;
    // background-image: linear-gradient(red,blue);
    transition: all $MOVTIME linear;
    border-radius: 50%;
    font-size: 25px;
    background-size: cover;
}