*{
    user-select: none;
}
.login
{
    display: grid;
    //font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 30px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 50px;
    left:50%;
    position: absolute;
    top:150px;
    transform: translate(-50%);
    box-shadow: 0 0 30px white,inset 0 0 10px white;
    background-color: rgb(48, 29, 78);
    border-radius: 20px;
    transition: all 0.4s;


    &__heading
    {
        color: white;
    }
    &__input
    {
        margin:10px 10px;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid white;
        color: white;
        transition: all .2s;
        &:focus,&:active
        {
            outline: none;
            border: none;
            border-radius: 10px;
            border-bottom: 2px solid white;
            filter: drop-shadow(0 0 20px white);
        }
    }
    
    &__btn
    {
        border:none;
        font-family: inherit;
        border-radius: 15px;
        color: white;
        background-color: orange;
        text-align: center;
        width:80px;
        transition: all 0.4s;

        &:hover
        {
            transform: scale(1.1);
        }
        
    }
    &__submit--container
    {
        display: flex;
        justify-content: center;
    }

    

    &__label
    {
        color: white;
        margin: 10px 10px;
        display: block;
        width:100%;
        transition: all 0.2s;
    }




    &__input[type="checkbox"]
    {
        display: none;
 
        & + label
        {
            text-align: center;
            margin:0 0;
            padding:0 auto;
            padding-top:12px;
            padding-bottom: 0px;

            box-shadow: (0 0px 4px white);
            height:30px;
            background-color: transparent;
            border-radius: 10px;
            &:hover
            {
                transform: scale(1.1);
            }
        }
    }
    &__input:checked + &__label
    {
        background-color: rgb(66, 186, 66);
        box-shadow: (0 0px 8px white);
        &:hover
        {
            transform: scale(1.1);
        }
    }

}

.icons
{
    position: absolute;
    transition-timing-function: linear;
    z-index: -1;
}
.errorElem
{
    position: absolute;
    left:50%;
    border-radius: 10px;
    background-color: red;
    width:250px;
    height:30px;
    display: block;
    text-align: center;
    top:-200px;
    transition: all .4s;
    transform: translateX(-50%);
    filter: drop-shadow(0 10px 20px rgb(28, 27, 27));
    color: white;
    // font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}